<div class="container">
  <div class="top-container">
    <div
      [ngStyle]="{
        'background-image': backgroundImg
      }"
      class="img-container"
    >
      <div class="header-container">
        <img src="../assets/logo.svg" alt="" />
        <div class="menu">
          <span class="submenu">home</span><span class="submenu">shop</span
          ><span class="submenu">about</span
          ><span class="submenu">contact</span>
        </div>
      </div>
    </div>
    <div class="details-container">
      <div class="details">
        <div class="title">{{ title }}</div>
        <div class="content">
          {{ content }}
        </div>
        <div class="shopnow-container">
          <span class="shopnow">SHOP NOW</span>
          <img src="../assets/icon-arrow.svg" alt="icon-arrow" />
        </div>
      </div>
      <div class="arrow-container">
        <div class="arrow" (click)="onMove('left')">
          <img src="../assets/icon-angle-left.svg" alt="icon-angle-left" />
        </div>
        <div class="arrow" (click)="onMove('right')">
          <img src="../assets/icon-angle-right.svg" alt="icon-angle-right" />
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-container"></div>
</div>
