<div class="container">
  <div class="top-container">
    <img
      src="../assets/desktop-image-hero-1.jpg"
      alt="desktop-image-hero-1"
      class="img-container"
    />
    <div class="details-container">
      <div class="details">
        <div class="title">Discover innovative ways to decorate</div>
        <div class="content">
          We provide unmatched quality, comfort, and style for property owners
          across the country. Our experts combine form and function in bringing
          your vision to life. Create a room in your own style with our
          collection and make your property a reflection of you and what you
          love.
        </div>
        <div class="shopnow-container">
          <span class="shopnow">SHOP NOW</span>
          <img src="../assets/icon-arrow.svg" alt="icon-arrow" />
        </div>
      </div>
      <div class="arrow-container">
        <div class="arrow">
          <img src="../assets/icon-angle-left.svg" alt="icon-angle-left" />
        </div>
        <div class="arrow">
          <img src="../assets/icon-angle-right.svg" alt="icon-angle-right" />
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-container"></div>
</div>
